.image-size{
    width:100%;
    height:100%;
}

.tweet-line{
    margin:1.875rem 0px;
    width:auto;
}

p.delete{
    margin-top:1.875rem;
}

.username-font{
    font-weight: bold;
    font-size: 20px;
}

.username-font span{
    margin-left:3.125rem;
    font-weight:normal;
    font-size:13px;
}

.tweetLink {
    position: relative;
}
.range a {
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;

}

.range-btn{
    width:100%;
    text-align:left;
    background: transparent;
    border:none;
    outline:none;
    border-bottom:1px solid rgba(168, 190, 208, 0.542);
}
