.image-size{
    width:100%;
    height:100%;
}

.tweet-line{
    margin:1.875rem 0px;
    width:auto;
}

p.delete{
    margin-top:1.875rem;
}

.username-font{
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
}

.username-font span{
    margin-left:3.125rem;
    font-weight:normal;
    font-size:13px;
}

.tweetLink{
    /* border-bottom: 1px solid rgb(202, 202, 202); */
    cursor: pointer;
    z-index: 1;
}
.tweetLink:hover {
    background-color: rgb(214, 214, 214);

}

.doneFav i {
    color:rgb(255, 65, 201) !important ;
}

.favorite-button i {
    position:relative;
    color: cornflowerblue;
    z-index: 2;
    padding: 7px 7px;
    border-radius: 50%;

}

.favorite-button i:hover{
    background-color:rgb(255, 211, 250);
    z-index: 2;
}

.bottom-line{
    border-bottom: 1px solid rgb(202, 202, 202);
}

.account-restore-select{
    padding: 10px;
    margin-left: 30px;

}

.account-restore-position{
    text-align: end;
    margin-right: 14px;
}

.restore-btn-margin{
    padding: 10px;
    font-size: 15px;

}

.tweet-textarea{
    margin: auto;
    font-size: 19px;
    width: 100%;
}

.tweet-button{
    right: 0;
    padding: 20px;
    background-color: rgb(66, 170, 255);
    text-align: right;
}

.follow-list-button{
    display: block;
    margin: 0 0 0 auto;
}

.profile-icon{
    height: 35%;
    width: 35%;
    margin-right: 10px;
    margin-bottom: 10px;
}

.profile-wrapper{
    display: inline-block;
    width: 60%;
}

.profile-name{
    vertical-align: top;
    display: inline-block;
}


.profile-information{
    margin: 10px 0;
}

.profile-info{
    margin-right: 10px;
}

.tl-icon{
    width: 10%;
    height: 10%;
}

.tweet-text{
    margin-left: 70px;
}